body{
  background-color: #61b15a;
}

.player-container{
  background-color: white;
  margin:10px;
  padding:20px;
  border-style: inset;
  height: 300px;
}

.player-flex-container{
  display:flex;
}

.card-container-key{
  margin-right:15px;
  font-weight: bold;
}

.card-container-key{
  margin-left:15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}